<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slider1.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Find the best burgers in Dallas
      </div>
    </div>
    <div class="item">
    <%= image_tag 'slider2.jpg', :class => 'img-responsive' %>
    <div class="carousel-caption">
      Looking for a new place for lunch?
    </div>
  </div>
    <div class="item">
      <%= image_tag 'slider3.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption">
        Try something new ... eat local! 
      </div>
  </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<% @places.each do |place| %>
  <div class ="booyah-box col-xs-10 col-xs-offset-1">
  	<h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />

	<% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>   

    <% if place.comments.present? %>
    <div class="col-xs-12">
  		<blockquote>
   		 	<% if place.comments.last.humanized_rating.present? %>
      			<b><%= place.comments.last.humanized_rating %></b> -
   			<% end %>
    		<%= place.comments.last.message %>
    		<small><%= place.comments.last.user.email %></small>
  		</blockquote>
		</div>
	<% end %>
  </div>
<% end %>

 
<div class="col=xs-12 text-center">
  <%= will_paginate @posts, :page_links => false %>
</div>
